@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

[data-theme="light"] {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes waves {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 0; }
}

.animate-waves {
  animation: waves 10s linear infinite;
}

button {
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

#mainHeader {
  --mixBlendMode: difference;
}

#mainHeaderMessage {
  --mixBlendMode: difference;
}